@font-face {
    font-family: 'black_jackregular';
    src: url('blackjack-webfont.eot');
    src: url('blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('blackjack-webfont.woff2') format('woff2'),
         url('blackjack-webfont.woff') format('woff'),
         url('blackjack-webfont.ttf') format('truetype'),
         url('blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comic_reliefregular';
    src: url('ComicRelief-webfont.eot');
    src: url('ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('ComicRelief-webfont.woff2') format('woff2'),
         url('ComicRelief-webfont.woff') format('woff'),
         url('ComicRelief-webfont.ttf') format('truetype'),
         url('ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page 
{
	width: 600px;
	margin: auto;
	font-family: sans-serif;
}

header
{
	height: 100px;
	background-color: #579c88;
	color: #fdcb46;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer
{
	width: 600px;
	height: 50px;
	position: fixed;
	bottom: 0px;
	background-color: #579c88;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer a
{
	margin: 0 20px 0 20px;
	text-decoration: none;
	color: #fdcb46;
	font-size: 1.3em;
}


/*spécifique à la page*/

h2
{
	text-align: center;
}

h3
{
	text-align: center;
	font-size: 0.8em;
	margin-bottom: 0;
	font-weight: normal;
}

section
{
	width: 500px;
	height: 650px;
	background-color: #f9f9f9;
	margin: auto;
	border: 1px #f1f1f1 solid;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #ededed;
	font-family: "comic_reliefregular", sans-serif;
	font-style: italic;
}

.menu_title
{
	font-size: 2em;
	font-family: "black_jackregular", sans-serif;
	color: blue;
}

.menu_items
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 70px 0 60px;
}

.menu_items ul + ul
{
	font-weight: bold;
}

ul
{
	list-style-type: none;
	font-size: 0.65em;
	margin-left: -40px;
}

li
{
	margin-top: 12px;
}