@font-face {
    font-family: 'comic_reliefregular';
    src: url('ComicRelief-webfont.eot');
    src: url('ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('ComicRelief-webfont.woff2') format('woff2'),
         url('ComicRelief-webfont.woff') format('woff'),
         url('ComicRelief-webfont.ttf') format('truetype'),
         url('ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page 
{
	width: 600px;
	margin: auto;
	font-family: sans-serif;
}

header
{
	height: 100px;
	background-color: #579c88;
	color: #fdcb46;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer
{
	width: 600px;
	height: 50px;
	position: fixed;
	bottom: 0px;
	background-color: #579c88;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer a
{
	margin: 0 20px 0 20px;
	text-decoration: none;
	color: #fdcb46;
	font-size: 1.3em;
}


/*spécifique à la page*/

h2
{
	text-align: center;
	background-image: linear-gradient(45deg, red, yellow)
	background-clip: text;
	text-fill-color: transparent;
}

h3
{
	text-align: center;
	font-size: 0.9em;
	margin-bottom: 0;
}

section
{
	width: 500px;
	height: 650px;
	background-color: #fcdfdb;
	margin: auto;
	border: 1px #f1f1f1 solid;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #ededed;
	font-family: "comic_reliefregular", sans-serif;
	color: #3d1319;
}

.menu_title
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.menu_title i
{
	font-size: 3em;
	color: orange;
	margin-bottom: -25px;
}

#prelude
{
	margin-top: -10px;
}

.menu_items
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 40px;
}

.menu_items ul + ul
{
	font-weight: bold;
}


.menu_end
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 0.8em;
}

.menu_end i
{
	font-size: 2em;
	color: orange;
	margin: 20px 10px 0 0;
}

ul
{
	list-style-type: none;
	font-size: 0.7em;
}

li
{
	margin-top: 10px;
}