@font-face {
    font-family: 'comic_reliefregular';
    src: url('ComicRelief-webfont.eot');
    src: url('ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('ComicRelief-webfont.woff2') format('woff2'),
         url('ComicRelief-webfont.woff') format('woff'),
         url('ComicRelief-webfont.ttf') format('truetype'),
         url('ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	width: 600px;
	margin: auto;
	font-family: sans-serif;
}

header a
{
	height: 100px;
	background-color: #579c88;
	color: #fdcb46;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

footer
{
	width: 600px;
	height: 50px;
	position: fixed;
	bottom: 0px;
	background-color: #579c88;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer a
{
	margin: 0 20px 0 20px;
	text-decoration: none;
	color: #fdcb46;
	font-size: 1.3em;
}

footer a:hover
{
	animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*spécifique à la page*/

h2
{
	text-align: center;
}

h3
{
  	position: relative;
	text-align: center;
	font-size: 0.9em;
	margin-bottom: 0;
 	overflow: hidden;
 	margin-left: 40px;
 	margin-right: 40px;
}

h3:before,
h3:after 
{
    border-top: 5px;
    content: "";
    display: inline-block;
    height: .5em;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-bottom: .15em;
}

h3:before 
{
    right: 1.5em;
    margin-left: -50%;
    background: -webkit-linear-gradient(right, #bfff7f, #3e923a);
	-webkit-background-clip: border;
	-webkit-text-fill-color: transparent;
}

h3:after 
{
    left: 1.5em;
    margin-right: -50%;
    background: -webkit-linear-gradient(left, #bfff7f, #3e923a);
	-webkit-background-clip: border;
	-webkit-text-fill-color: transparent;
}

section
{
	width: 500px;
	height: 650px;
	background-color: #fdfffd;
	margin: auto;
	border: 1px #f1f1f1 solid;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #ededed;
	font-family: "comic_reliefregular", sans-serif;
	font-style: italic;
}

.menu_title
{
	font-size: 1.5em;
	font-family: arial, sans-serif;
	background: -webkit-linear-gradient(right, #bfff7f, #3e923a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 60px 0 60px 0;
}

.menu_items
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 70px 0 60px;
}

.menu_items ul + ul
{
	font-weight: bold;
	font-size: 0.7em;
}

ul
{
	list-style-type: none;
	font-size: 0.6em;
	margin-left: -40px;
}

li
{
	margin-top: 12px;
}