@import "variables.scss";
@import "functions.scss";

h3 {
    &::before, &::after {
        border-top: 5px;
        content: "";
        display: inline-block;
        height: .5em;
        position: relative;
        vertical-align: middle;
        width: 50%;
        margin-bottom: .15em;
    }
    &::before {
        right: 1.5em;
        margin-left: -50%;
        background: -webkit-linear-gradient(right, color(palette_gradient_1), color(palette_gradient_2));
        -webkit-background-clip: border;
        -webkit-text-fill-color: transparent;
    }
    &::after {
        left: 1.5em;
        margin-right: -50%;
        background: -webkit-linear-gradient(left, color(palette_gradient_1), color(palette_gradient_2));
        -webkit-background-clip: border;
        -webkit-text-fill-color: transparent;
    }
}

.underline:before 
{
  background-color: color(palette_gradient_2);
} 

.menu_total
{
	background-color: color(palette_bg);
	font-family: "comic_reliefregular", sans-serif;
	font-style: italic;
}

.menu_title
{
	font-size: 1.5em;
	font-family: arial, sans-serif;
	background: -webkit-linear-gradient(right, color(palette_gradient_1), color(palette_gradient_2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 60px 0 60px 0;
}

.menu_items
{
	margin: 0 70px 0 60px;
}

ul
{
	font-size: 0.6em;
	margin-left: -40px;
}

li
{
	margin-top: 12px;
}