@charset "UTF-8";
@font-face {
  font-family: 'comic_reliefregular';
  src: url("fonts/ComicRelief-webfont.eot");
  src: url("fonts/ComicRelief-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ComicRelief-webfont.woff2") format("woff2"), url("fonts/ComicRelief-webfont.woff") format("woff"), url("fonts/ComicRelief-webfont.ttf") format("truetype"), url("fonts/ComicRelief-webfont.svg#comic_reliefregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'black_jackregular';
  src: url("fonts/blackjack-webfont.eot");
  src: url("fonts/blackjack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/blackjack-webfont.woff2") format("woff2"), url("fonts/blackjack-webfont.woff") format("woff"), url("fonts/blackjack-webfont.ttf") format("truetype"), url("fonts/blackjack-webfont.svg#black_jackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 600px;
  margin: auto;
  font-family: sans-serif;
}

header a {
  height: 100px;
  background-color: #579c88;
  color: #fdcb46;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

header a h1 {
  font-size: 2.5em;
}

header a h2 {
  font-size: 2.5em;
}

footer {
  width: 600px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  background-color: #579c88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  margin: 0 20px 0 20px;
  text-decoration: none;
  color: #fdcb46;
  font-size: 1.3em;
}

footer a:hover {
  -webkit-animation: shake 1s;
          animation: shake 1s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*menus spécifiques */
h1 {
  text-align: center;
}

h3 {
  position: relative;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 40px;
  margin-right: 40px;
}

/* animation underline */
.underline {
  position: relative;
}

.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  width: 100%;
}

/* forme de base des menus  */
.menu_total {
  width: 500px;
  height: 650px;
  margin: auto;
  border: 1px #f1f1f1 solid;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px #ededed;
          box-shadow: 1px 1px 10px #ededed;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_items ul + ul {
  font-weight: bold;
}

ul {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */