$colors: (
    primary: #579c88,
    secondary: #fdcb46,
    menu_border: #f1f1f1, 
    menu_shadow: #ededed,
    note_text: #3d1319,
    note_bg: #fcdfdb,
    note_gradient_1: orange,
    note_gradient_2: red,
    chic_bg: #fff5fe,
    chic_gradient_1: #e38812,
    chic_gradient_2: #8e5aff,
    chic_middle: #a56799,
    delice_bg: #f9f9f9,
    delice_gradient_1: #0889fb,
    delice_gradient_2: #0023db,
    delice_middle: #0670f3,
    palette_bg: #fdfffd,
    palette_gradient_1: #bfff7f,
    palette_gradient_2: #3e923a,
);

$full_width: 600px;
